package {{ customsAttributes.servicePackageName }};

import com.sqg.service.base.BaseService;
import com.sqg.model.{{className}};

public abstract class {{className}}Service  extends BaseService<{{className}}> {
  
}