package {{ customsAttributes.writerPackageName }};

import org.springframework.stereotype.Repository;
import com.sqg.writer.base.BaseWriter;
import com.sqg.model.{{className}};

@Repository
public interface {{className}}Writer  extends BaseWriter<{{className}}> {
  
}