<?xml version="1.0"  encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="{{customsAttributes.writerPackageName}}.{{className}}Writer">

	<insert id="insert"  {% if autoIncrementKey %} useGeneratedKeys="true" keyColumn="{{autoIncrementKey}}" keyProperty="id" {%- endif %} >
		insert into {{ tableName }} 
		(
			{% for property in properties -%}
				{% if property.isInBaseModel==false and property.isAutoIncrement==false -%}
        	{{ property.columnName }},
				{%- endif -%}
				{% if loop.index%4 == 0 and not loop.last %}
				{% endif -%}
			{% endfor -%}
			create_time, update_time,dr, data_version
		) values
		<foreach collection="list" item="l" separator=",">
		(
			{% for property in properties -%}
				{% if property.isInBaseModel==false and property.isAutoIncrement==false -%}
        	#{l.{{ property.propertyName }}},
				{%- endif -%}
			{%- if loop.index%4 == 0 and not loop.last %}
			{% endif -%}
			{%- endfor -%}
			#{l.createTime},#{l.updateTime},0, 1
		)
		</foreach>
	</insert>

	<update id="update" parameterType="{{ customsAttributes.modelPackageName }}.{{ className }}">
		update {{ tableName }} set 
		{% for property in properties -%}
			{% if property.isInBaseModel==false and property.isAutoIncrement==false -%}
        	{{ property.columnName }} = #{ {{ property.propertyName }} },
			{%- endif -%}
			{%- if loop.index%2 == 0 and not loop.last %}
			{% endif -%}
		{%- endfor -%}
		<if test="dr==1">
			create_time = #{createTime},
			update_time = #{updateTime},
			dr = 1,
		</if>
			DATA_VERSION = data_version + 1
		{% if primaryKey -%}
		where {{primaryKey}} = #{id}
		{%- endif %}
			and data_version = #{dataVersion}
	</update>

	<delete id="deleteByWhere" parameterType="com.sqg.sql.Where">
		delete from
		{{ tableName }}
		${whereHead}
		{%- if primaryKey %}
		<if test="id != null">
			{{primaryKey}} = #{id} and
		</if>
		{% endif -%}
		${whereClause}
	</delete>

	{% if primaryKey -%}
	<delete id="deleteByBean">
		delete
		from {{ tableName }}
		where {{primaryKey}} in (
		<foreach collection="list" item="l" separator=",">
			#{l.id}
		</foreach>
		)
	</delete>
	{% endif -%}

</mapper>
